/*<div id="1" class="a">div1</div>
<img id="mainImage" src="">
<div id="2" class="b">div2</div>
<div id="3" class="c">div3</div>
<div id="4" class="d">div4</div>
<div id="5" class="d">div5</div> */
body {
    background: linear-gradient(to top, rgb(77, 43, 25, 0.8), rgb(122, 77, 29, 0.9), rgb(176, 136, 25));
    background-size: cover;
}
    /* background-color:rosybrown; */
    /* background: url(); */
    /* background-size: contain; */
    /* background-size: 100px 100px; */
    /* background-size: 100px 80%; */
/*
h1.hover {
    color: purple;
} */
/*can also use first, last, only*/
/* li:nth-child(2) {
    color: steelblue
}
#google-link:link {
    color: blue;
}
#google-link:visited {
    color: darkblue;
} */
/*all links that follow a heading*/
/* h2 + a {
    color:aliceblue;
} */
/*all buttons that follow a text area that they share a parent with*/
/* textarea ~ button {} */
/*child selector, all li's within a ul*/
/* ul > li {
    color:skyblue;
} */
/*descendent selector, all children and their children*/
/* ul li {
    color:black;
} */
/* h2[class=subtitle] {
    color: magenta
} */
/*all images on page that start with...*/
/* img[src^="../img/"] {
    border: 10px solid black;
    align-content: center;
    align-content: middle;
} */
/*replace ^ with * to contain the phrase anywhere in the string*/
/*for things separated with white spaces*/
/* h2[class~=subtitle] {
    background: green
} */
/*for things that could either be exact string or be followed with a dash-*/
/* h2[class|=subtitle] {
    font-size: 12px;
} */
table {
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: 5px solid black;
}
#previousResponse {
    color: red
}
#previousSolution {
    color: green;
}
.a1 {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#form {
    margin-left: auto;
    margin-right: auto;
}
.a2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* height: 60vw;
    width: 60vw; */
}
.link {
    text-decoration: underline;
}
td + img{
    border: 5px solid black;
}
.heart {
    color: red;
    background-color: currentColor;
    display: inline-block;
    height: 50px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    position: absolute;
    left: 45%; top: 45%;
    width: 50px;
  }
  .heart::before,
  .heart::after {
    content: "";
    background-color: currentColor;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
  }
  .heart:before {
    top: -25px;
    left: 0;
  }
  .heart:after {
    left: 25px;
    top: 0;
  }
  /* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
  }
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .container .btn:hover {
    background-color: black;
  }
  .heart::before,
  .heart::after {
    content: "";
    background-color: currentColor;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
  }
  .heart:before {
    top: -25px;
    left: 0;
  }
  .heart:after {
    left: 25px;
    top: 0;
  }